[Unit]
Description=%i qreport
Requires=network.target
After=network.target
After=syslog.target

[Service]
RestartSec=10
Restart=always
User=www-data
Environment="QREPORT_CONFIG=/usr/local/etc/django/%i/config.ini"
RuntimeDirectory=%i
RuntimeDirectoryPreserve=yes
ExecStart=/usr/local/share/django/qreport/venv/bin/gunicorn qreport.app:app --bind unix:/run/%i/%i.sock

[Install]
WantedBy=multi-user.target
